body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height:100vh; 
  background: #f3f4f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.title {
  color: #9bcc6c;
}

.link, .link-3 {
  color: #000000;
  text-decoration: none;
}

.link-4{
  color:white;
  text-decoration: none;
}

.link-2 {
  color: #000000;
}
.link:hover, .link-2:hover {
   color: #9bcc6c;
}

.typo{
  color:#9bcc6c;
  font-weight: 900;
}

.login-textfield{
  background-color: #f5fff5;
}
.login-logo{
  margin-top: 30px ;
}

.regex-validator{
  color: red; 
  
}

.list-button{
  background-color: #d9d9d9;
}

#container {
  height: 100%; 
  width: 100%;
  display: flex;
  flex-direction: row;
}

#left {
  width:auto;
  display:flex;
}

#content{
  width: auto;
  display:flex-inline;
  flex-direction: row;
  flex-shrink: 1;
  flex-grow:1;
  resize: horizontal;
}